.price_container {
  height: 100vh;
  width: 100vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 4rem 1rem 0 1rem;
  .price_list {
    margin-top: 4rem;
    margin-bottom: 8rem;
    background: var(--clr-white);
    padding: 1.5rem 1rem;
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    &:hover {
      box-shadow: var(--dark-shadow);
    }
  }
}
.title_contain {
  display: block;
  margin-top: 1rem;
  text-align: center;
  h2 {
    padding: 0 0 1rem 0;
  }
}
.table_contain {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.price_list--box {
  border: 2px solid var(--clr-primary-8);
  border-radius: 2rem;
  background: var(--clr-primary-8);
  box-shadow: var(--light-shadow);
  width: 290px;
  padding: 0 2rem;
  margin-bottom: 5px;
  &:hover {
    box-shadow: var(--dark-shadow);
  }
  h4 {
    padding: 1rem 0;
    text-align: center;
  }
  h5 {
    padding: 0 0 5px 2rem;
  }
  .spacer {
    background: var(--clr-title);
    border-radius: 100%;
    height: 2px;
    width: 80%;
    margin: 0 auto 16px;
  }
}

.price_list--list {
  padding: 0;
  li {
    margin-bottom: 5px;
    input[type="checkbox"]{
      margin-right: 5px;
    }
  }
}


@media screen and (min-width: 850px) {
  .table_contain {
    flex-direction: row;
    align-items: stretch;
    .price_list--box {
      width: 350px;
    }
  }
  .title_contain {
    text-align: left;
    h2 {
      padding: 0 0 1rem 1.5rem;
    }
  }
}